@{
    Layout = null; 
}
<title>كايرو هوم</title>
<!doctype html>
<html class="no-js" dir="rtl" lang="ar">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta name="description" content=" تأمل شركه كايرو هوم - Cairo Home فى تحقيق الانجازات بشكل مستمر فهى تضم طاقم عمل فى خيرة المهندسين و الفنيين و الاداريين الذين يتمتعون بقدرات عالية و مهارات فنيه ومهنيه لضمان انجاز المشاريع بنجاح مميز و تقديم للعميل افضل الخدمات فى مجال العقارات سواء تمليك أو إيجار.">
    <meta name="keywords" content="cairo-home,cairo home,cairohome,كايروهوم,كايرو هوم,شقق,شقه,عقار,عقارات,بيوت,منازل,سكن,ايجار,تمليك,سكن مشترك,مساكن">

    <meta property="og:type" content="website">
    <meta property="og:locale" content="ar_AR">
    <meta property="og:site_name" content="الموقع الرسمي لشركه كايرو هوم - Cairo Home">
    <meta property="og:title" content="الموقع الرسمي لشركه كايرو هوم">
    <meta property="og:url" content="http://cairohomeeg.com/">
    <meta property="og:description" content="تأمل شركه كايرو هوم - Cairo Home فى تحقيق الانجازات بشكل مستمر فهى تضم طاقم عمل فى خيرة المهندسين و الفنيين و الاداريين الذين يتمتعون بقدرات عالية و مهارات فنيه ومهنيه لضمان انجاز المشاريع بنجاح مميز و تقديم للعميل افضل الخدمات فى مجال العقارات سواء تمليك أو إيجار.">
    <meta property="og:image" content="~/images/social.png">
    <meta property="og:image:width" content="570">
    <meta property="og:image:height" content="340">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="الموقع الرسمي لشركه كايرو هوم">
    <meta name="twitter:description" content="تأمل شركه كايرو هوم - Cairo Home فى تحقيق الانجازات بشكل مستمر فهى تضم طاقم عمل فى خيرة المهندسين و الفنيين و الاداريين الذين يتمتعون بقدرات عالية و مهارات فنيه ومهنيه لضمان انجاز المشاريع بنجاح مميز و تقديم للعميل افضل الخدمات فى مجال العقارات سواء تمليك أو إيجار.">
    <meta name="twitter:image" content="~/images/social.png">
    <meta name="twitter:url" content="http://cairohomeeg.com/">

    <meta itemprop="image" content="~/images/social.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- build:css styles/main.css?id=71.11 -->
    <link href="~/Content/main.css?id=71.11" rel="stylesheet" />
    <!-- endbuild -->
</head>



<body class="rtl">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand no-padding" href="/Home/Index" title="كايرو هوم">
                          <img src="~/images/akaar-logo.png" alt="akaar logo">
                        <h1 class="font-regular">كايرو هوم</h1>
                    </a>
                </div>

                <div id="navbar-collapse-1" class="collapse navbar-collapse no-padding">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Home/About">عن الشركة</a></li>
                        <li><a class="no-padding-left-imp" href="/Admin/Logout">تسجيل خروج</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="text-center font-bold navy-blue">ادارة الاعلانات</h2>
                    <div class="btn-wrap">
                        <button class="btn btn-primary btn-lg" type="button" onclick="GotoAddPage()">
                            إضافة إعلان جديد
                        </button>
                        <button class="btn btn-primary btn-lg" type="button" onclick="GotoAddIndexPage()">
                            اذهب لصفحة البحث
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Scripts/bundle.js?id=71.11"></script>
<script>
    function GotoAddPage()
    {
        window.location.href = '/Admin/CreateAdv'; //Will take you to Google.
    }
    function GotoAddIndexPage() {
        window.location.href = '/Admin/Index'; //Will take you to Google.
    }
    

</script>
</body>




</html>