@model AqarApp.ViewModels.AccountViewModel

@{
    Layout = null;
}
<title>كايرو هوم</title>
<!doctype html>
<html class="no-js" dir="rtl" lang="ar">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta name="description" content=" تأمل شركه كايرو هوم - Cairo Home فى تحقيق الانجازات بشكل مستمر فهى تضم طاقم عمل فى خيرة المهندسين و الفنيين و الاداريين الذين يتمتعون بقدرات عالية و مهارات فنيه ومهنيه لضمان انجاز المشاريع بنجاح مميز و تقديم للعميل افضل الخدمات فى مجال العقارات سواء تمليك أو إيجار.">
    <meta name="keywords" content="cairo-home,cairo home,cairohome,كايروهوم,كايرو هوم,شقق,شقه,عقار,عقارات,بيوت,منازل,سكن,ايجار,تمليك,سكن مشترك,مساكن">

    <meta property="og:type" content="website">
    <meta property="og:locale" content="ar_AR">
    <meta property="og:site_name" content="الموقع الرسمي لشركه كايرو هوم - Cairo Home">
    <meta property="og:title" content="الموقع الرسمي لشركه كايرو هوم">
    <meta property="og:url" content="http://cairohomeeg.com/">
    <meta property="og:description" content="تأمل شركه كايرو هوم - Cairo Home فى تحقيق الانجازات بشكل مستمر فهى تضم طاقم عمل فى خيرة المهندسين و الفنيين و الاداريين الذين يتمتعون بقدرات عالية و مهارات فنيه ومهنيه لضمان انجاز المشاريع بنجاح مميز و تقديم للعميل افضل الخدمات فى مجال العقارات سواء تمليك أو إيجار.">
    <meta property="og:image" content="~/images/social.png">
    <meta property="og:image:width" content="570">
    <meta property="og:image:height" content="340">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="الموقع الرسمي لشركه كايرو هوم">
    <meta name="twitter:description" content="تأمل شركه كايرو هوم - Cairo Home فى تحقيق الانجازات بشكل مستمر فهى تضم طاقم عمل فى خيرة المهندسين و الفنيين و الاداريين الذين يتمتعون بقدرات عالية و مهارات فنيه ومهنيه لضمان انجاز المشاريع بنجاح مميز و تقديم للعميل افضل الخدمات فى مجال العقارات سواء تمليك أو إيجار.">
    <meta name="twitter:image" content="~/images/social.png">
    <meta name="twitter:url" content="http://cairohomeeg.com/">

    <meta itemprop="image" content="~/images/social.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- build:css styles/main.css?id=71.11 -->

    <link href="~/Content/main.css?id=71.11" rel="stylesheet" />

    <!-- endbuild -->
</head>

<body class="rtl">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand no-padding" href="/Home/Index" title="كايرو هوم">
                        <img src="~/images/akaar-logo.png" alt="akaar logo">
                        <h1 class="font-regular">كايرو هوم</h1>
                    </a>
                </div>

                <div id="navbar-collapse-1" class="collapse navbar-collapse no-padding">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Home/About">عن الشركة</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="font-bold navy-blue">تسجيل الدخول</h2>
@using (Html.BeginForm("Login", "Admin", FormMethod.Post,new { @class = "gray-bg main-padding login-form" }))
{
                            <div class="form-group"> 
                            @Html.TextBoxFor(model => model.Account.Username, "", new { @class = "form-control", @placeholder = "اسم المستخدم" })
                            @*<input type="email" class="form-control" placeholder="اسم المستخدم">*@
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Account.Password, "", new { @class = "form-control", @type = "password", @placeholder = "كلمة المرور" })
                            @*<input type="password" class="form-control" placeholder="كلمة المرور">*@
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> تذكرني
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">تسجيل الدخول</button>
                        <span style="color:red;font-size:17px">@ViewBag.Error</span>                      
}
                  
                </div>
            </div>
        </div>
    </section>
    <script src="~/Scripts/bundle.js?id=71.11"></script>
</body>

</html>